 /* Theme  Variables Override */
$primary-color: #666;
$secondary-color: #403123;
$secondary-color-hover: #5f554d;
$tertiary-color: #999;
$quaternary-color: #ccc;
$quinary-color: #eee;
$senary-color: #f5f5f5;
$septenary-color: #fff;
$octonary-color: #000;
$nonary-color: #111;
$denary-color: #222;